.header{
    background-color:rgb(141, 49, 49);
    height:90px;
    position:fixed;
    width:100%;
    top:2px;
}

.header-logo{
    float: left;    
    padding: 20px;
    margin-right: 300px;
    margin-left: 150px;
    font-size: 40px;
    color:white;

} 

.header-list li{
    float: left;
    list-style:none;
    font-size:20px;
    padding:30px
}

.header-list a{
    color:honeydew
}

.copy-container{
    background: rgb(218, 208, 208);
    margin-top:92px;
}

.copy-container img{
    width:40%;
    height:400px;
    margin:20px 20px 20px 100px;
}

.about{
    float:right;
    padding:6%;
    margin: 20px 100px 20px 20px;
    background:rgb(236, 218, 196);
    color:rgb(22, 12, 51);
    letter-spacing: 0.3px;
    font-size:16px;
}

span{
    color:rgb(133, 31, 94)
}

.contents{
    background:rgb(179, 190, 187);
    height:450px;
}


.myself{
    float:left;
    margin:20px;
    font-size:20px;
    width:30%;
}

table{
    border:2px solid black;
    color:rgb(4, 4, 27);
    float:right;
    margin:80px;
    width:50%;
    background:rgb(180, 158, 150);

}

table tr:nth-of-type(1){
    font-weight: bold;

}

.projects{
    background: rgb(181, 156, 184);
    height:200px;
    padding:10px;
    font-size:16px;
}

.project-h{
    text-align:center;
    font-size:20px;
}

.contact-form{
    background: rgb(10, 2, 27);
    color:rgb(235, 227, 227);
    height:200px;
    padding:40px;
}

input{
    padding:5px;
    margin:10px;
}

label{
    font-size: large;
}

.form-head{
    text-align:center;
    font-size: larger;
}

.form-p{
    font-size: 20px;
}

.projects-b a{
    padding-left: 13%;
    padding-right: 13%;
    color:rgb(10, 2, 2)
}

td,th{
    border:0.5px solid black
}

th{

}

